@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

body {
   font-family: 'DM Sans', system-ui, sans-serif;
   color: #1b2632;
   background-color: #eee9df;
}

.m-0 {
   margin: 0;
}

.p-0 {
   padding: 0;
}

.text-center {
   text-align: center;
}